<label>
    Live policy checking:
    <input type="checkbox" #livePolicyCheckbox (change)="livePolicy$.next(livePolicyCheckbox.checked)">
</label>

<form [formGroup]="form" (submit)="submit()">

    @if (isVisible('title')) {
        <label>Title</label>
        <input formControlName="title" />
    }

    @if (isVisible('description')) {
        <label>Description</label>
        <textarea formControlName="description"></textarea>
    }

    @if (isVisible('postMortemNotes')) {
    <label>Post-Mortem Notes</label>
    <textarea formControlName="postMortemNotes"></textarea>
    }

    <label>State</label>
    <select formControlName="state">
        <option value="NEW">NEW</option>
        <option value="IN_PROGRESS">IN_PROGRESS</option>
        <option value="DONE">DONE</option>
    </select>
    <button type="submit">Submit</button>
</form>
<pre>
{{this.form.getRawValue() | json}}
</pre>